{% extends "appMaverick/master.html" %}
{% block contenido %}

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style2">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="col-8 col-12-medium">
										<div id="content">

											<!-- Content -->
												<!-- Form Comentarios-->
												<h3>Articulos para el BLOG</h3>

												<form method="post" action="#"> {% csrf_token %} 
													<div class="row gtr-uniform">
														<div class="col-6 col-12-xsmall">
															<input type="text" name="post-name" id="demo-name" value="" placeholder="Nombre del Articulo" />
														</div>

                                                        <div class="col-6 col-12-xsmall">
															<input type="text" name="post-autor" id="demo-name" value="" placeholder="Autor" />
														</div>
													
                                                        <div class="col-6 col-12-xsmall">
															<input type="text" name="post-imagen" id="demo-name" value="" placeholder="Link a imagen" />
														</div>

														<!-- Break -->
														<div class="col-12">
															<textarea name="post-articulo" id="demo-message" placeholder="Ingrese texto del articulo" rows="6"></textarea>
														</div>
														<!-- Break -->
														<div class="col-12">
															<ul class="actions">
																<li><input type="submit" value="Crear Post" class="primary" /></li>
															</ul>
														</div>
													</div>
													{%  if mensaje %}
														<h2> {{ mensaje }}</h2>
													{% endif %}
												</form> 											

										</div>
									</div>
									<div class="col-4 col-12-medium">
										<div id="sidebar">

											<!-- Sidebar -->

												<section>
													<header class="major">
														<h2>Sobre la creacion de articulos para el blog</h2>
													</header>
													<p>En este espacio puede crear un articulo relacionados a la gastronomia para compartir su conocimiento con el mundo </p>											
												</section>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

{% endblock %}