{% extends "appMaverick/master.html" %}
{% block contenido %}
		<div id="page-wrapper">

			<!-- Main Wrapper -->
				<div id="main-wrapper">					
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row">
									<!-- busqueda -->
									<div class="col-md-12 search">
										<form method="get">
											<div id="custom-search-input">
												<div class="input-group col-md-12">
													<input type="text" class="from-control" placeholder="Buscar.." name="buscar" value="{{ request.GET.buscar }}">
													<span class="input-group-list">
														<i class="icon icon-search"></i>
														<button type="submit" class="boton btn-success">Buscar</button>

													</span>

												</div>

											</div>	
										</form>
									</div>
									<div class="col-8 col-12-medium">
										<!-- Article list -->
											<section class="box article-list">
												<h2 class="icon fa-file-alt">Posts</h2>
												{% for elemento in posteos%}
												<!-- Excerpt -->
													<article class="box excerpt">
														<a href="#" class="image left"><img src="{{ elemento.imagen}}" alt="" /></a>
														<div>
															<header>
																<span class="date">{{ elemento.fecha }}</span>
																<h3><a href="#">{{ elemento.nombre }}</a></h3>
															</header>
															<p>{{ elemento.articulo }}</p>
														</div>
														<footer>
															Autor: {{ elemento.autor }}
														</footer>
														<p> 													 
															<a class="btn btn-success" href="{% url 'editPost' elemento.id %}">Editar</a> | 
															<a class="btn btn-danger" href="{% url 'deletePost' elemento.id %}">Borrar</a>                
														</p> 
													</article>	
													
												{% endfor %}								
											</section>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
{% endblock %}