{% extends "appMaverick/master.html" %}
{% block contenido %}

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style2">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="col-8 col-12-medium">
										<div id="content">

											<!-- Content -->
												<!-- Form Comentarios-->
												<h3>Recomendaciones</h3>

												<form method="post" action="#"> {% csrf_token %} 
													<div class="row gtr-uniform">
														<div class="col-6 col-12-xsmall">
															<input type="text" name="reco-name" id="demo-name" value="" placeholder="Nombre" />
														</div>
														<div class="col-6 col-12-xsmall">
															<input type="email" name="reco-email" id="demo-email" value="" placeholder="Email" />
														</div>
														<!-- Break -->
														
														<div class="col-12">
															<select name="reco-category" id="demo-category">
																<option value="">- Comidas -</option>
																<option value="Milanesa">Milanesa</option>
																<option value="Hamburguesa">Hamburguesa</option>
																<option value="Lomito">Lomito</option>
																<option value="Pizza">Pizza</option>
															</select>
														</div>
													
														<!-- Break -->
														<div class="col-12">
															<textarea name="reco-message" id="demo-message" placeholder="Ingrese su Recomendacion" rows="6"></textarea>
														</div>
														<!-- Break -->
														<div class="col-12">
															<ul class="actions">
																<li><input type="submit" value="Enviar Recomendacion" class="primary" /></li>
															</ul>
														</div>
													</div>
													{%  if mensaje %}
														<h2> {{ mensaje }}</h2>
													{% endif %}
												</form> 					
										</div>
									</div>
									<div class="col-4 col-12-medium">
										<div id="sidebar">

											<!-- Sidebar -->

												<section>
													<header class="major">
														<h2>Sobre las Recomendaciones</h2>
													</header>
													<p>En este espacio solicitamos su colaboracion, aportando sus ideas para ampliar y mejorar
													   nuestro menu con nuevas combinaciones que te gustarian probar. </p>											
												</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

{% endblock %}