{% extends "appMaverick/master.html" %}
{% block contenido %}

			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style2">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="col-8 col-12-medium">
										<div id="content">

											<!-- Content -->											
												<!-- Form Quejas-->
												<h3>Reclamos</h3>

												<form method="post" action="#"> 
													{% csrf_token %} 
													<div class="row gtr-uniform">
														<div class="col-6 col-12-xsmall">
															<input type="text" name="queja-name" id="demo-name" value="" placeholder="Nombre" />
														</div>
														<div class="col-6 col-12-xsmall">
															<input type="email" name="queja-email" id="demo-email" value="" placeholder="Email" />
														</div>
														<!-- Break -->
														<div class="col-12">
															<select name="queja-category" id="demo-category">
																<option value="">- Reclamo -</option>
																<option value="Atencion">Atencion</option>
																<option value="Comida">Comida</option>
																<option value="Precios">Precios</option>
																<option value="Forma Pago">Forma Pago</option>
															</select>
														</div>
														<!-- Break -->
														<div class="col-12">
															<textarea name="queja-message" id="demo-message" placeholder="Ingrese su Reclamo" rows="6"></textarea>
														</div>
														<!-- Break -->
														<div class="col-12">
															<ul class="actions">
																<li><input type="submit" value="Enviar Reclamo" class="primary" /></li>
															</ul>
														</div>
													</div>
													{%  if mensaje %}
														<h2> {{ mensaje }}</h2>
													{% endif %}
												</form>
										</div>
									</div>
									<div class="col-4 col-12-medium">
										<div id="sidebar">

											<!-- Sidebar -->

												<section>
													<header class="major">
														<h2>Sobre los Reclamos</h2>
													</header>
													<p> Ayudanos a  mejorar. Tus sugerencias seran tenidas en cuenta para mejorar el servicio.</p>
											
												</section>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

{% endblock %}