{% extends "appMaverick/master.html" %}
{% block contenido %}
<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-8 col-12-medium">
                        <div id="content">

                            <!-- Content -->											
                                <!-- Form Editar-->
                                <h3>Lista de Recomendaciones</h3>
                                <div class="col-md-12 search">
                                    <form method="get">
                                        <div id="custom-search-input">
                                            <div class="input-group col-md-12">
                                                <input type="text" class="from-control" placeholder="Buscar.." name="buscarrecomendacion" value="{{ request.GET.buscarrecomendacion }}">
                                                <span class="input-group-list">
                                                    <i class="icon icon-search"></i>
                                                    <button type="submit" class="boton btn-success">Buscar</button>

                                                </span>

                                            </div>

                                        </div>	
                                    </form>
                                </div>
                                <ul>
                                    {% for elemento in object_list %}
                                
                                    <li>        
                                                <p><strong>Recomendacion: {{ elemento.nombre }} </strong></p>
                                                
                                                <p> 
                                                    <a class="btn btn-secondary" href="{% url 'detalleRecomendacion' elemento.id %}">Ver</a> | 
                                                    <a class="btn btn-info" href="{% url 'editRecomendacion' elemento.id %}">Editar</a> | 
                                                    <a class="btn btn-danger" href="{% url 'deleteRecomendacion' elemento.id %}">Borrar</a> 
                                                
                                                </p>                            
                                    {% endfor %}
                                    </li>
                                    
                                </ul>
                                </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}